<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="error-template">
            <div class="text-center">
                <h1>Oops!</h1>
                <h2>404 Not Found</h2>
                <div class="error-details">Requested page not found!</div>
                <div class="error-actions">
                    <a routerLink="/login" href="" class="btn btn-link">
                        <i class="fa fa-arrow-circle-o-left"></i> Back to Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>